extends layout

block content
  #content
    table.schedule
      - for (neighbourhood in pubs)
        - for (var i = 0; i < pubs[neighbourhood].length; i++)
          tr
            td.venue
              .dots
                .field
                  = pubs[neighbourhood][i].name
            td.time
              .dots
                .field
                  = pubs[neighbourhood][i].time
