extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    - for (var x = 0; x < pubs.length; x++)
      li
        =pubs[x].name
        =pubs[x].location
        =pubs[x].time

  div.tabs.maps
    ul
      li.dumbo
        a(href='#map-canvas-dumbo') Dumbo
      li.les
        a(href='#map-canvas-les') Lower East Side

    #map-canvas-dumbo.map-canvas

    #map-canvas-les.map-canvas